<%- include('partials/header'); -%>

<header class="home">
  <div class="headings">
    <h4>TOURS & TRAVEL</h4>
    <h2>Lets's Discover The</h2>
    <h2>World Together</h2>
    <a href="/welcome" class="btn">Know more..</a>
  </div>
</header>

<%- include('partials/footer'); -%>
