<%- include('partials/header'); -%>

<ul class="places">
  <li class="place">
    <img src="/BALI.jpg" alt="Bali location" />
    <h4>Bali, Indonesia-An idyllic retreat</h4>
    <p>
      Indonesia's most famous island, Bali is the best place for any tourist who
      needs a <a style="color: blue" href="/"> more...</a>
    </p>
  </li>
  <li class="place">
    <img src="/GREAT-BARRIER-REEF.jpg" alt="Grat GREAT-BARRIER-REEF" />
    <h4>Great Barrier Reef,Australia-Nature's Biggest Marvel</h4>
    <p>
      Stretching for 2300 kilometres off the east coast of Australia, the Great
      Barrier <a style="color: blue" href="/"> more...</a>
    </p>
  </li>
  <li class="place">
    <img src="/LONDON.jpg" alt="london image" />
    <h4>Lodon, England-London</h4>
    <p>
      Standing on the Thames River, London is the capital of England as well as
      the mos<a style="color: blue" href="/"> more...</a>
    </p>
  </li>
  <li class="place">
    <img src="/MALDIVES.jpg" alt="Maldives" />
    <h4>Maldives-A Tropical Haven</h4>
    <p>
      The Maldives, a tropical haven of immaculate beaches, are an archipelago
      of 1,1<a style="color: blue" href="/"> more...</a>
    </p>
  </li>
  <li class="place">
    <img src="/MAURITIUS.jpg" alt="Mauritius" />
    <h4>Mauritius - Indian Ocean's Island</h4>
    <p>
      Mauritius is a small country with a big heart. Located off the south-<a
        style="color: blue"
        href="/"
      >
        more...</a
      >
    </p>
  </li>
  <li class="place">
    <img src="/PARIS.jpg" alt="paris" />
    <h4>Paris,France-The City of Lights</h4>
    <p>
      The mesmerizing wrought-iron spire of the Eiffel Tower piercing the
      skyline<a style="color: blue" href="/"> more...</a>
    </p>
  </li>
</ul>

<%- include('partials/footer'); -%>
